@use "../../styles/index.scss" as *;

.button {
  background: #3c6cb8;
  box-shadow: 0px 6px 12px 7d8592;
  border-radius: 14px;
  padding: 13px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }
  &.outline {
    background: #ffffff;
    border: 1px solid #d8e0f0;
    box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
    font-weight: 400;
    color: #7d8592;
  }
  .icon {
    margin-right: 12px;
  }
}

.footer-add-button {
  width: 75px;
}
